Img {
    width: 200px;
    height: 200px;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;

  }  
  .child {
    display: inline-block;
    border: 1px solid rgb(1, 1, 1);
    padding: 1rem 1rem;
    vertical-align: middle;
  }